@include establish-baseline($base-font-size);

html,
body {
	background: $white;
	font-family: $main-font;

	width: 100%;
	@include adjust-leading-to(2);
	@include box-sizing(border-box);
	padding-bottom: rhythm();
}

body.page {
	height: auto;
}

body {
	padding-bottom: rhythm(4);
}

a, p {
	font-weight: 700;
}


a {
	display: inline-block;
	border-bottom: 1px solid $text-color;
	line-height: 1;

	&:hover {
		border-color: transparent
	}
}
