@mixin p-text-shadow {
    text-shadow: 2px 1px 3px rgba(0,0,0,0.6), -1px 0 2px rgba(0,0,0,0.2);
}

@include establish-baseline($base-font-size);

html,
body {
    background: $white;
    font-family: $main-font;
    min-height: 100%;
    width: 100%;
    @include adjust-leading-to(2);
    @include box-sizing(border-box);
}

body {
    background: transparent url() no-repeat fixed 0 0;
    background-size: cover;
}

body.page {
    height: auto;
}

p {
    font-weight: 700;
}

a {
    @include transition-property(color, border);
    @include transition-duration(100ms);
    @include p-text-shadow;
    color: $link-color;
    text-decoration: none;
    display: inline-block;
    color: $white;
    border-bottom: 2px solid $white;
    line-height: 1.1;
    font-weight: 700;

    &:hover  {
        border-color: transparent;
        text-decoration: none;
    }
}

strong { font-weight: 700; }
em { font-style: italic; }

q {
    &:before { content: "“"; }
    &:after { content: "”"; }
}

::-moz-selection {

}

::selection {

}

.outline { display: none }


