@include establish-baseline($base-font-size);

html,
body {
    background: $white;
    font-family: $main-font;
    height: 100%;
    width: 100%;
    @include adjust-leading-to(2);
    @include box-sizing(border-box);
}

body.page {
    height: auto;
}

p {
    font-weight: 700;
}

a {
    @include transition-property(color);
    @include transition-duration(.1s);
    color: $link-color;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid $text-color;
    line-height: 1;
    font-weight: 700;

    &:hover  {
        border-color: transparent;
        text-decoration: none;
        color: $text-color;
    }
}

strong, b { font-weight: 700; }
em, i { font-weight: inherit; font-style: italic; }

q {
    &:before { content: "“"; }
    &:after { content: "”"; }
}

::-moz-selection {
    background-color: yellow;
}

::selection {
    background-color: yellow;
}

.outline { display: none }

img {
    background-color: $default-img-bg;
}
