/*********************************************
/*****************************

	Basic Grid settings

/*****************************
*********************************************/

$total-columns  : 15;
$column-width   : 50px;
$gutter-width   : 20px;
$grid-padding   : 60px;
$container-style: fluid;

$show-grid-backgrounds: true;

/*********************************************
/*****************************

	Typography settings

/*****************************
*********************************************/

@import url(http://fonts.googleapis.com/css?family=Averia+Libre:400,400italic,700);

$main-font: 'Averia Libre', serif;
$sub-font: Georgia, serif;

$base-font-size: 12px;
$base-line-height: 10px;



$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1280px;
