.project-title {
	color: #fff;
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	margin-left: -25%;
	margin-top: -10%;
	@include adjust-font-size-to(80px, 7);

}

.main-content {
	height: 100%;
	width: 100%;
	position: relative;
	
}
.project-image {
	background: #fff;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	/*padding: 60px 0;*/
	text-align: center;
	
	img {
		width: 100%;
	}

	&:last-child {
		/*padding-top: 120px;*/
	}
}

.description {
	height: 100%;
	width: 100%;
	font-weight: 700;
	padding: rhythm(4) 20%;
	@include box-sizing(border-box);
	@include adjust-font-size-to(30px);
}

.regular {
	/*padding: 50px 150px;*/
}


.detail {
	background-attachment: fixed;
	padding: 0;
	@include background-size(cover);

	img {
		width: 100%;
	}

}

