.main-content--page {
    margin-top: rhythm(12);
    padding-left: 15px;
}

.page-title {
    margin-left: 15px;
    font-weight: 800;
    @include adjust-font-size-to(32px);

    @include breakpoint($breakpoint-s) {
        margin-left: 40px;
    }
}

.page-content {
    margin: rhythm(4, 32px) 15px;
    font-weight: 800;
    max-width: 700px;

    p {
        margin-top: rhythm(2);
        padding: 0;

        &:last-child {
            qmargin-bottom: rhythm(5);
        }
    }

    @include breakpoint($breakpoint-s) {
        margin: rhythm(4, 32px) 40px;
    }

}
