.project-list {
	width: 100%;
	margin-top: rhythm(18);

	@include breakpoint($breakpoint-s) {
		margin-top: rhythm(10);
	}

}

.project-list-item {
	margin-left: 40px;
	padding: rhythm(.5) 0;
	float: left;
    clear: left;
	
	a {	border: 0; }

	&:hover {
		a {	color: $white; }
		.project-list-title { border-bottom-color: $white; }
		.project-list-image { display: block; }
	}

}

.project-list-head {
	position: relative;
	z-index: 2;
}

.project-list-title {
	@include adjust-font-size-to(28px);
	line-height: 1;
	margin-left: .35em;
	display: inline-block;
	border-bottom: 1px solid $text-color;
	font-weight: 700;

	@include breakpoint($breakpoint-s) {
		@include adjust-font-size-to(48px);
	}

}

.project-list-date {
	@include adjust-font-size-to(28px);
	display: inline;
	font-weight: 700;

	@include breakpoint($breakpoint-s) {
		@include adjust-font-size-to(48px);
	}

}

.project-list-image {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 0;
	display: none;
	pointer-events: none;
	width: 100%;
	height: 100%;
	@include background-size(cover);
	background-position: 0 -18px;

	img {
		min-width: 100%;
		height: auto;
	}
}
