.project-list {
    margin-top: rhythm(10);
}

.project-list-item {
    padding: rhythm(.5) 0;
    float: left;
    clear: left;
    width: 90%;
    padding-left: $site-padding;

    a {	border: 0; }

    @include breakpoint($breakpoint-s) {
        margin-left: 40px;
        padding-left: 0;
    }

    .no-touch &:hover {
        a {	color: $white; }
        .project-list-title { border-bottom-color: $white; }
        .project-list-image { display: block; }
    }
}

.project-list-head {
    position: relative;
    z-index: 2;
    display: table;
    table-layout: fixed;
    width: 100%;

    a {
        display: table-row;
    }
}

.project-list-title {
    @include adjust-font-size-to(28px);
    line-height: 1;
    font-weight: 700;
    display: inline-block;
    max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    border-bottom: 1px solid $text-color;

    @include breakpoint($breakpoint-s) {
        @include adjust-font-size-to(52px);
        display: table-cell;
        border: 0;
    }

}

.project-list-title-container {
    border-bottom: 1px solid $text-color;

    &:after {
        content: '';
        height: 2px;
        display: block;
    }
}

.project-list-date {
    @include adjust-font-size-to(20px);
    display: none;
    font-weight: 700;

    @include breakpoint($breakpoint-s) {
        @include adjust-font-size-to(46px);
        width: 4em;
        padding-right: .5em;
        display: table-cell;
    }
}

.project-list-image {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
    display: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    background-repeat: no-repeat;
    background-color: $default-img-bg;
}
