.project-title {
	position: absolute;
	color: #fff;
	z-index: 10;
	top: 50%;
	margin-left: 40px;
	@include adjust-font-size-to(60px, 6);	


	@include breakpoint($breakpoint-s) {
		@include adjust-font-size-to(90px, 9);
		left: 50%;
		width: 50%;
		height: 50%;
		margin-left: -30%;
		margin-top: -10%;
	}

	time {
		display: block;
	}

}

.main-content {
	height: 100%;
	width: 100%;
	position: relative;

	p, .project-image {
		width: 100%;
		display: block;
		margin-top: rhythm(8);
		padding: 0 20%;
		font-weight: 700;
		@include box-sizing(border-box);
		@include adjust-font-size-to(32px);

		&:last-child {
			margin-bottom: rhythm(8);
		}

	}
	
	.project-image {
		padding: 0 15%;
		line-height: 0;
	}

	.detail {
		padding: 0;
		height: 110%;
		
		background-attachment: fixed;
		@include background-size(cover);
		/*@include translate3d(0);*/
		/*backface-visibility: hidden;*/
		/*-webkit-backface-visibility: hidden;*/

		img {
			/*width: 100%;*/
			height: auto;
		}

		&.featured-image {
			margin-top: 0;
		}
	}

	.detail + .detail {
		margin-top: 0;
	}

	img {
		width: 100%;
	}

}


.project-footer {
	margin: rhythm(16) 40px rhythm(4) 40px;
	height: rhythm(2);
	position: relative;
}

.project-nav-link {
	position: absolute;
	top: 0;
	@include adjust-font-size-to(22px);
}

.project-next {
	left: 0;
}

.project-prev {
	right: 0;
}



