/********************************************
/********************************************

	general html elements and helpers

/********************************************
/********************************************/

a {
	color: $link-color;
	text-decoration: none;
	@include transition-property(color);
	@include transition-duration(.2s);


	&:hover  { 
		text-decoration: none;
		color: $text-color;
	}
}

strong { font-weight: 800; }
em { font-style: italic; }

q {
	&:before { content: "“"; }
	&:after { content: "”"; }
}

::-moz-selection {

}

::selection {

}



.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000000;
    padding: 0.2em 0;
}


.outline { display: none }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, textarea {
	border: 0;
	font-family: $main-font;
}

small {
	@include adjust-font-size-to(10px, 1.5);
	@include iminart-letter-spacing;
}

/********************************************
/********************************************

	ui elements

	alerts, badges, tooltips, buttons

/********************************************
/********************************************/


.title {

}

.btn {
	
}
