.primary-nav {
    position: relative;

    &.white {
        @include breakpoint($breakpoint-s) {
            a {
                color: $white;
                border-bottom-color: $white;
            }
        }
    }
}

.primary-nav__container {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    @include box-sizing(border-box);
    height: rhythm(5);

    @include breakpoint($breakpoint-s) {
        background-color: transparent;
        top: rhythm();
        width: calc(100% - 80px);
        margin: 20px 40px;
        padding: 0;
        height: auto;
    }
}

.menu-item {
    text-decoration: underline;
    text-transform: lowercase;
    @include adjust-font-size-to(18px, 5);
    position: absolute;
    text-align: center;
    left: 15px;
    right: 15px;

    a {
        position: relative;
        z-index: 1;
    }

    @include breakpoint($breakpoint-s) {
        @include adjust-font-size-to(22px,4);
        text-align: left;
        left: 0;
        right: 0;
    }
}

.menu-item--about {
    text-align: right;
}

.menu-item--works {
    text-align: left;

    @include breakpoint($breakpoint-s) {
        text-align: center;
    }
}

