#primary-nav {
	position: relative;

	&.white {
		a {
			color: #fff;
			border-bottom-color: $white;
		}
	}
}

#primary-nav ul {
	position: fixed;
	z-index: 10;
	top: rhythm();
	width: calc(100% - 80px);
	margin: 20px 40px;
	@include box-sizing(border-box);
}

.menu-item {
	text-decoration: underline;
	text-transform: lowercase;
	@include adjust-font-size-to(22px,4);

	@include breakpoint($breakpoint-s) {
		width: 100%;
		position: absolute;

		a {
			position: relative;
			z-index: 1;
		}

		&:nth-child(2n) {
			text-align: center;
		}

		&:last-child {
			text-align: right;
		}

	}

}


a { color: #000; }
